{% extends 'base.html.twig' %}

{% block title %}NovelNest - Página Principal {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <h2 class=" fs-3 py-5">Página principal</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center mt-3">
            <div class="col-12 mb-3 logo"></div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <p>Bienvenido/a a NovelNest. Esta web tiene diferentes funciones, entre ellas: autopublicar, pedir
                    asesoría a editores/as y, comprar y vender obras. </p>
            </div>
        </div>
    </div>
{% endblock %}
