{% extends 'base.html.twig' %}

{% block title %}NovelNest - Página Principal {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="d-flex justify-content-center fs-3 py-5">Página principal</h2>
                <img alt="logo_NovelNest" src="">
            </div>
        </div>
    </div>
{% endblock %}
