{% extends 'base.html.twig' %}

{% block title %}Editores y editoras{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="d-flex justify-content-center fs-3 py-5">Editores y editoras</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="pb-3 text-center">Planes y precios</h3>
                <p>En la siguiente tabla se exponen los diferentes planes de edición, sus precios y dónde
                    obtenerlos.</p>
                <table class="table table-hover text-center mt-4 mb-4">
                    <thead>
                    <tr class="table-primary">
                        <th scope="col" class="fst-italic">Edición</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Lugar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row" class="table-primary">Inicial</th>
                        <td>0€</td>
                        <td>Autopublicación</td>
                    </tr>
                    <tr>
                        <th scope="row" class="table-primary">Básica</th>
                        <td>10€</td>
                        <td>Autopublicación</td>
                    </tr>
                    <tr>
                        <th scope="row" class="table-primary">Intermedia</th>
                        <td>13€</td>
                        <td>Autopublicación</td>
                    </tr>
                    <tr>
                        <th scope="row" class="table-primary">Superior</th>
                        <td>14€</td>
                        <td>Autopublicación/Editores y editoras</td>
                    </tr>
                    </tbody>
                </table>
                <div class="col-12">
                    <ul>
                        <li class="mb-2">
                            <span class="fw-semibold">Inicial:</span> es gratis y se puede obtener en el último paso del
                            proceso de
                            autopublicación. No tiene precio debido a que todas las obras deberían ser revisadas un
                            mínimo antes de ser publicadas.
                        </li>
                        <li class="mb-2">
                            <span class="fw-semibold">Básica:</span> cuesta 10€ y se puede obtener en el último paso del
                            proceso de
                            autopublicación. Por si se desea una revisión con un poco más de detalle.
                        </li>
                        <li class="mb-2">
                            <span class="fw-semibold">Intermedia:</span> su precio es de 13€ y se puede obtener en el
                            último paso del proceso de
                            autopublicación. En el caso de que el autor haya tenido problemas y desee una edición con
                            detalle.
                        </li>
                        <li>
                            <span class="fw-semibold">Completa:</span> vale 15€ y se puede obtener en el último paso del
                            proceso de
                            autopublicación y contactando a los/as editores/as, que se encuentran más abajo, en la
                            página de Contactos. Para una revisión exhaustiva.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="pt-5 pb-3 text-center">Nuestros trabajadores</h3>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row ">
            <div class="d-flex">
                <div class="col-4">
                    <div class="card border-black h-100 me-3">
                        <img src="{{ asset('media/editor1.jpeg') }}" class="card-img-top" alt="Editor 1">
                        <div class="card-body">
                            <h5 class="card-title text-logo">Lee Know</h5>
                            <p class="card-text">Editor con más de 7 años de experiencia en redacción y corrección de
                                textos académicos y creativos. Apasionado por la precisión lingüística y el
                                storytelling, ha colaborado con editoriales internacionales para perfeccionar
                                manuscritos. Su enfoque combina rigor gramatical con sensibilidad cultural.</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card border-black h-100 me-3">
                        <img src="{{ asset('media/editora.png') }}" class="card-img-top" alt="Editor 1">
                        <div class="card-body">
                            <h5 class="card-title text-logo">Emma Watson</h5>
                            <p class="card-text">Editora especializada en literatura juvenil y ficción contemporánea,
                                con 5 años trabajando para editoriales de renombre. Emma destaca por su habilidad para
                                identificar nuevas voces literarias y por su compromiso con la diversidad en la
                                narrativa. Además, es mentora de autores emergentes.</p>
                        </div>
                    </div>
                </div>
                <div class="col-4 h-100">
                    <div class="card border-black h-100">
                        <img src="{{ asset('media/editor2.jpg') }}" class="card-img-top" alt="Editor 1">
                        <div class="card-body">
                            <h5 class="card-title text-logo">Sebastian Stan</h5>
                            <p class="card-text">Editor técnico con 10 años de experiencia en manuales y contenido
                                especializado en tecnología. Experto en adaptar información compleja para audiencias
                                generales, Sebastian ha liderado proyectos editoriales que combinan claridad, impacto y
                                precisión técnica.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
