{% extends 'base.html.twig' %}

{% block title %}Editores y editoras{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="d-flex justify-content-center fs-3 py-5">Editores y editoras</h2>
            </div>
        </div>
    </div>
{% endblock %}
