{% extends 'base.html.twig' %}

{% block title %}Biblioteca{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h2 class=" fs-3 py-5">Biblioteca</h2>
        </div>
    </div>
</div>

    <div class="container pb-5">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-center align-items-center">
                    <form method="get" role="search" class="d-flex">
                        <input type="search" class="form-control rounded-start-pill" name="q"
                               aria-label="Search" placeholder="Bucar una obra...">
                        <button type="submit" class="btn btn-rosa rounded-end-pill"><i class="bi bi-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% for obra in obres %}
                <div class="col-4 mb-5 text-center">
                    <div class="card h-100 shadow">
                        <div class="card-body">
                            <h3 class="fs-4 border-bottom border-black py-3">{{ obra.nom }}</h3>
                            <h4 class="card-text fs-5 py-3 text-rosa">Autor/a</h4>
                            <p class="card-text py-3"> {{ obra.pseudonimClient.pseudonim }}</p>
                            <h4 class="card-text fs-5 py-3 text-taronja">Tipo</h4>
                            <ul class="list-group">
                                <li class="list-group-item">{{ obra.tipus }}</li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-warning" href="#">Compra</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-12 text-center">
                    <p>No se ha encontrado ninguna obra.</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="navigation d-flex justify-content-center py-4">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
