{% extends 'base.html.twig' %}

{% block title %}Edit Obra{% endblock %}

{% block body %}
    <h1>Edit Obra</h1>

    {{ include('obra/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_obra_index') }}">back to list</a>

    {{ include('obra/_delete_form.html.twig') }}
{% endblock %}
