{% extends 'base.html.twig' %}

{% block title %}New Obra{% endblock %}

{% block body %}
    <h1>Create new Obra</h1>

    {{ include('obra/_form.html.twig') }}

    <a href="{{ path('app_obra_index') }}">back to list</a>
{% endblock %}
