{% extends 'base.html.twig' %}

{% block title %}Total{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <h2 class=" fs-3 py-5">Resumen de la compra</h2>
            </div>
        </div>
    </div>

    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Nombre: Marina</h5>
                            <p class="card-text"><strong>Apellido:</strong> Checa</p>
                            <p class="card-text"><strong>Teléfono:</strong> 612345678</p>
                            <p class="card-text"><strong>Dirección:</strong> Calle Falsa 123</p>
                            <p class="card-text"><strong>Número de Tarjeta:</strong> 1234 5678 9012 3456</p>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center mt-5">
                        <a href="{{ path('app_home') }}" class="btn btn-success">Aceptar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
