/* Estils personalitzats */

/* Font principal per a la pàgina */
@font-face {
    font-family: 'Montserrat';
    src: url("../css/fonts/Montserrat-Regular.ttf");
}

*{
    font-family: 'Montserrat', sans-serif;
}

/* Font h2 */
@font-face {
    font-family: 'Montserrat-Medium';
    src: url("../css/fonts/Montserrat-Medium.ttf");
}

h2{
    font-family: 'Montserrat-Medium', sans-serif;
    color: #6A85B4;
}

/* Colors per a la web */

.bg-blau{
    background-color: #C2E0FF;
}

.bg-blau-back{
    background-color: #6A85B4;
}

.bg-taronja{
    background-color: #FB8674;
}

.text-blau{
    color: #C2E0FF;
}

.text-logo{
    color: #6A85B4;
}

.text-taronja{
    color: #FB8674;
}

.text-rosa{
    color: #FDAFBF;
}

/* Esils propis */
.btn-rosa{
    color: #000000;
    background-color: #FDAFBF;
    border-color: #FDAFBF;
}

.btn-rosa:hover{
    color: #000000;
    background-color: #ff7b9c;
    border-color: #ff7b9c;
}

.btn-blau{
    color: #000000;
    background-color: #C2E0FF;
    border-color: #C2E0FF;
}

.btn-blau:hover{
    color: #000000;
    background-color: #6A85B4;
    border-color: #6A85B4;
}

.link-rosa{
    color: #FDAFBF;
    text-decoration: none;
}

.link-taronja{
    color: #FB8674;
    text-decoration: none;
}

.link-blau-oscur{
    color: #6A85B4;
    text-decoration: none;
}

.link-blau-oscur:hover{
    color: #3b6db5;
}

/* Home */
.logo{
    background-image: url("../css/img/logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    height: 200px;
}

.bg-blau-oscur:hover{
    background-color: #6A85B4;
}

.zoom:hover{
    background-color: #6A85B4;
    transform: scale(1.1);
}

/* Contacte */
.logo-fons{
    background-image: url("../css/img/logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 200px;
    margin-top: 20px;
}

/* Editors i editores */
.bg-rosa{
    background-color: #FDAFBF;;
}

/* Aside */
.aside-list{
    list-style-type: none;
}