{% extends 'base.html.twig' %}

{% block title %}Autopublicación{% endblock %}

{% block body %}

    <h1>Subir PDF</h1>

    {% if mensaje %}
        <div class="alert alert-info">{{ mensaje }}</div>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="pdf">Selecciona un archivo PDF:</label>
            <input type="file" name="pdf" id="pdf" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Subir</button>
    </form>
{% endblock %}
