{% extends 'base_back.html.twig' %}

{% block title %}Editar Cliente{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <h2 class=" fs-3 py-5">Editando un cliente</h2>
            </div>
        </div>
    </div>

    {{ include('client/_form.html.twig') }}
{% endblock %}
