{% extends 'base_back.html.twig' %}

{% block title %}Añadir Facturas{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <h2 class=" fs-3 py-5">Añadiendo una factura</h2>
            </div>
        </div>
    </div>

    {{ include('factura/_form.html.twig') }}

{% endblock %}
