{% extends 'base.html.twig' %}

{% block title %}404 - Error{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 p-5">
            <h3 class="display-3 text-danger text-center">Error 404 - Pàgina no encontrada</h3>
            <p class="text-center fs-2">La página que estás buscando no se ha podido encontrar.</p>
            <div class="position-relative d-flex justify-content-center">
                <i class="bi bi-sign-dead-end-fill text-danger display-1"></i>
            </div>
        </div>
    </div>
{% endblock %}